<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/webjars/org.webjars/jquery/3.2.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script src="https://cdn.jsdelivr.net/webjars/org.webjars.bower/popper.js/1.12.9/dist/umd/popper.min.js"
            th:src="@{/webjars/popper.js/1.12.9/dist/umd/popper.min.js}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/webjars/org.webjars/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.0.0-beta.2/css/bootstrap.min.css}"/>
    <script src="https://cdn.jsdelivr.net/webjars/org.webjars/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/4.0.0-beta.2/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/webjars/org.webjars.bower/open-iconic/1.1.1/font/css/open-iconic-bootstrap.css"
          th:href="@{/webjars/open-iconic/1.1.1/font/css/open-iconic-bootstrap.css}"/>
</head>
<body>
<div class="container">
    <th:block th:include="header :: header"></th:block>
    <div class="jumbotron">
        <p class="lead">New Band:</p>
        <!--/*@thymesVar id="album" type="com.bairei.ormapp.models.Album"*/-->
        <form class="form-horizontal" th:object="${album}" th:action="@{/album}" th:method="post">
            <ul class="list-form"><li class="list-group-item list-group-item-danger" th:each="err : ${#fields.errors('*')}" th:text="${err}">Error in form</li></ul>
            <input type="hidden" th:field="*{id}"/>
            <div class="form-group">
                <label class="col-sm-2 control-label">Title:</label>
                <div class="col-sm-10">
                    <input type="text" required="true" class="form-control" th:field="*{title}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Recorded in:</label>
                <div class="col-sm-10">
                    <input type="number" required="true" class="form-control" th:field="*{yearOfRelease}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Recorded by:</label>
                <div class="col-sm-10">
                    <select th:field="*{band}">
                        <!--/*@thymesVar id="bands" type="com.bairei.ormapp.models.Band"*/-->
                        <option value="" selected="selected" disabled="disabled">---</option>
                        <option th:each="band : ${bands}" th:value="${band.id}" th:text="${band.name}" ></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Genre:</label>
                <div class="col-sm-10">
                    <select th:field="*{{genre}}">
                        <!--/*@thymesVar id="genres" type="com.bairei.ormapp.models.Genre"*/-->
                        <option value="" selected="selected" disabled="disabled">---</option>
                        <option th:each="gen : ${genres}" th:value="${gen.id}" th:text="${gen.name}" ></option>
                    </select>
                    <a href="#" th:href="@{#}" id="newGenreBtn">New genre</a>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Label:</label>
                <div class="col-sm-10">
                    <select th:field="*{label}">
                        <!--/*@thymesVar id="labels" type="com.bairei.ormapp.models.Label"*/-->
                        <option value="" selected="selected" disabled="disabled">---</option>
                        <option th:each="lab : ${labels}" th:value="${lab.id}" th:text="${lab.name}" ></option>
                    </select>
                    <a href="#" th:href="@{#}" id="newLabelBtn">New label</a>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Members:</label>
                <div class="col-sm-10">
                    <select th:field="*{members}" multiple="multiple">
                        <!--/*@thymesVar id="allMembers" type="com.bairei.ormapp.models.Member"*/-->
                        <option th:each="member : ${allMembers}" th:value="${member.id}" th:text="${member.name}" ></option>
                    </select>
                    <a href="#" th:href="@{#}" id="newMemberBtn">New member</a>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Studios:</label>
                <div class="col-sm-10">
                    <select th:field="*{studios}" multiple="multiple">
                        <!--/*@thymesVar id="studios" type="com.bairei.ormapp.models.Studio"*/-->
                        <option th:each="studio : ${studios}" th:value="${studio.id}" th:text="${studio.name}" ></option>
                    </select>
                </div>
            </div>
            <div class="row">
                <input type="submit" class="btn btn-default" value="Create"/>
            </div>
        </form>
    </div>
</div>
<script th:inline="javascript" type="text/javascript" src="../static/js/modal.js" th:src="@{/js/modal.js}"></script>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body" id="myModalBody">Lorem ipsum</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</body>
</html>