<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/webjars/org.webjars/jquery/3.2.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script src="https://cdn.jsdelivr.net/webjars/org.webjars.bower/popper.js/1.12.9/dist/umd/popper.min.js"
            th:src="@{/webjars/popper.js/1.12.9/dist/umd/popper.min.js}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/webjars/org.webjars/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.0.0-beta.2/css/bootstrap.min.css}"/>
    <script src="https://cdn.jsdelivr.net/webjars/org.webjars/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/4.0.0-beta.2/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/webjars/org.webjars.bower/open-iconic/1.1.1/font/css/open-iconic-bootstrap.css"
          th:href="@{/webjars/open-iconic/1.1.1/font/css/open-iconic-bootstrap.css}"/>
</head>
<body>
<div class="container">
    <th:block th:include="header :: header"></th:block>
    <div class="jumbotron">
        <table class="table table-striped table-bordered table-hover table-sm">
            <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Event Date:</th>
                <th>Event Type:</th>
                <th>Promoted by:</th>
                <th>Venue:</th>
                <th>Bands:</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="event :${events}">
                <!--/*@thymesVar id="events" type="com.bairei.ormapp.models.Event"*/-->
                <td th:text="${event.id}"></td>
                <td th:text="${event.eventDate}"></td>
                <td th:text="${event.type}"></td>
                <td th:text="${event.promoter.name}"></td>
                <td th:text="${event.venue.name}"></td>
                <td>
                    <div th:each="band : ${event.bandSet}">
                        <div th:text="${band.name}"></div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <a href="#" th:href="@{/event/new}">New Event</a>
    </div>
</div>
</body>
</html>