<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/webjars/org.webjars/jquery/3.2.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script src="https://cdn.jsdelivr.net/webjars/org.webjars/jquery-ui/1.12.1/jquery-ui.min.js"
            th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>
    <script src="https://cdn.jsdelivr.net/webjars/org.webjars.bower/popper.js/1.12.9/dist/umd/popper.min.js"
            th:src="@{/webjars/popper.js/1.12.9/dist/umd/popper.min.js}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/webjars/org.webjars/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.0.0-beta.2/css/bootstrap.min.css}"/>
    <script src="https://cdn.jsdelivr.net/webjars/org.webjars/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/4.0.0-beta.2/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/webjars/org.webjars.bower/open-iconic/1.1.1/font/css/open-iconic-bootstrap.css"
          th:href="@{/webjars/open-iconic/1.1.1/font/css/open-iconic-bootstrap.css}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/webjars/org.webjars/jquery-ui/1.12.1/jquery-ui.min.css"
            th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.css}"/>
</head>
<body>
<div class="container">
    <th:block th:include="header :: header"></th:block>
    <div class="jumbotron">
        <p class="lead">New Event:</p>
        <!--/*@thymesVar id="event" type="com.bairei.ormapp.models.Event"*/-->
        <form class="form-horizontal" th:object="${event}" th:action="@{/event}" th:method="post">
            <ul class="list-form"><li class="list-group-item list-group-item-danger" th:each="err : ${#fields.errors('*')}" th:text="${err}">Error in form</li></ul>
            <input type="hidden" th:field="*{id}"/>
            <div class="form-group">
                <label class="col-sm-2 control-label">Date:</label>
                <div class="col-sm-10">
                    <input type="text" id="datepicker" required="true" class="form-control" th:field="*{eventDate}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Type of event:</label>
                <div class="col-sm-10">
                    <select th:field="*{type}">
                        <!--/*@thymesVar id="eventTypes" type="com.bairei.ormapp.models.EventType"*/-->
                        <option value="" th:selected="selected" th:disabled="disabled">---</option>
                        <option th:each="eventType : ${eventTypes}" th:value="${eventType}" th:text="${eventType}" ></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Promoted by:</label>
                <div class="col-sm-10">
                    <select th:field="*{promoter}">
                        <!--/*@thymesVar id="promoters" type="com.bairei.ormapp.models.Promoter"*/-->
                        <option value="" th:selected="selected" th:disabled="disabled">---</option>
                        <option th:each="promoter : ${promoters}" th:value="${promoter.id}" th:text="${promoter.name}" ></option>
                    </select>
                    <a href="#" th:href="@{#}" id="newPromoterBtn">New Promoter</a>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Venue:</label>
                <div class="col-sm-10">
                    <select th:field="*{venue}">
                        <!--/*@thymesVar id="venues" type="com.bairei.ormapp.models.Venue"*/-->
                        <option value="" th:selected="selected" th:disabled="disabled">---</option>
                        <option th:each="venue : ${venues}" th:value="${venue.id}" th:text="${venue.name}" ></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Participating bands:</label>
                <div class="col-sm-10">
                    <select th:field="*{bandSet}" multiple="multiple">
                        <!--/*@thymesVar id="bands" type="com.bairei.ormapp.models.Band"*/-->
                        <option th:each="band : ${bands}" th:value="${band.id}" th:text="${band.name}" ></option>
                    </select>
                </div>
            </div>
            <div class="row">
                <input type="submit" class="btn btn-default" value="Create"/>
            </div>
        </form>
    </div>
</div>
<script th:inline="javascript" type="text/javascript" src="../static/js/modal.js" th:src="@{/js/modal.js}"></script>
<script type="text/javascript">
    $(function () {
        $("#datepicker").datepicker();
    })
</script>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body" id="myModalBody">Lorem ipsum</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</body>
</html>