<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Music Application</title>
    <script src="https://cdn.jsdelivr.net/webjars/org.webjars/jquery/3.2.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script src="https://cdn.jsdelivr.net/webjars/org.webjars.bower/popper.js/1.12.9/dist/umd/popper.min.js"
            th:src="@{/webjars/popper.js/1.12.9/dist/umd/popper.min.js}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/webjars/org.webjars/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.0.0-beta.2/css/bootstrap.min.css}"/>
    <script src="https://cdn.jsdelivr.net/webjars/org.webjars/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/4.0.0-beta.2/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/webjars/org.webjars.bower/open-iconic/1.1.1/font/css/open-iconic-bootstrap.css"
          th:href="@{/webjars/open-iconic/1.1.1/font/css/open-iconic-bootstrap.css}"/>
</head>
<body>
<div th:fragment="header">
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <a class="navbar-brand" href="#" th:href="@{/}"><span class="oi oi-musical-note"></span> Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsdrop" aria-controls="navbarsdrop" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsdrop">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">List<span class="caret"></span></a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            <a href="#" class="dropdown-item"  th:href="@{/bands}">Bands</a>
                            <a href="#" class="dropdown-item" th:href="@{/albums}">Albums</a>
                            <a href="#" class="dropdown-item" th:href="@{/members}">Members</a>
                            <a href="#" class="dropdown-item" th:href="@{/events}">Events</a>
                            <a href="#" class="dropdown-item" th:href="@{/studios}">Recording studios</a>
                            <a href="#" class="dropdown-item" th:href="@{/venues}">Venues</a>
                            <a href="#" class="dropdown-item" th:href="@{/labels}">Labels</a>
                            <a href="#" class="dropdown-item" th:href="@{/promoters}">Promoters</a>
                            <a href="#" class="dropdown-item" th:href="@{/genres}">Genres</a>
                            <a href="#" class="dropdown-item" th:href="@{/locations}">Locations</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">New...<span class="caret"></span></a>
                        <div class="dropdown-menu" aria-labelledby="dropdown02">
                            <a href="#" class="dropdown-item" th:href="@{/album/new}">Album</a>
                            <a href="#" class="dropdown-item" th:href="@{/band/new}">Band</a>
                            <a href="#" class="dropdown-item" th:href="@{/event/new}">Event</a>
                            <a href="#" class="dropdown-item" th:href="@{/studio/new}">Studio</a>
                            <a href="#" class="dropdown-item" th:href="@{/venue/new}">Venue</a>
                        </div>
                    </li>
                    <!--<li class="nav-item dropdown">-->
                        <!--<a href="#" class="nav-link dropdown-toggle" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Members<span class="caret"></span></a>-->
                        <!--<div class="dropdown-menu" aria-labelledby="dropdown03">-->
                            <!--<a href="#" class="dropdown-item" th:href="@{/members}">Member list</a>-->
                            <!--<a href="#" class="dropdown-item" th:href="@{#}">Create a member</a>-->
                        <!--</div>-->
                    <!--</li>-->
                </ul>
            </div>
        </nav>
    </div>
</div>
</body>
</html>