<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/webjars/org.webjars/jquery/3.2.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script src="https://cdn.jsdelivr.net/webjars/org.webjars.bower/popper.js/1.12.9/dist/umd/popper.min.js"
            th:src="@{/webjars/popper.js/1.12.9/dist/umd/popper.min.js}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/webjars/org.webjars/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.0.0-beta.2/css/bootstrap.min.css}"/>
    <script src="https://cdn.jsdelivr.net/webjars/org.webjars/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/4.0.0-beta.2/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/webjars/org.webjars.bower/open-iconic/1.1.1/font/css/open-iconic-bootstrap.css"
          th:href="@{/webjars/open-iconic/1.1.1/font/css/open-iconic-bootstrap.css}"/>
</head>
<body>
<div class="container">
    <th:block th:include="header :: header"></th:block>
    <div class="jumbotron">
        <table class="table table-striped table-bordered table-hover table-sm">
            <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Name:</th>
                <th>Year of foundation:</th>
                <th>Actions:</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="label :${labels}">
                <!--/*@thymesVar id="label" type="com.bairei.ormapp.models.Label"*/-->
                <td th:text="${label.id}"></td>
                <td th:text="${label.name}"></td>
                <td th:text="${label.yearFounded}"></td>
                <td>
                    <form action="#" th:action="@{/label/{id}/delete(id=${label.id})}" method="post">
                        <input type="submit" value="Delete"/>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>